@import "tailwindcss";


body {
  margin: 0;
  line-height: inherit;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "DM Sans", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}